n8n_json_files/01-Daily-Token-Refresh.json
{
  "name": "01-Daily-Token-Refresh",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "cronExpression": "15 9 * * 1-5"
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "28278be4-95d8-40d1-88f2-c0d6d099d226",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/token",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "={{$env.KITE_API_KEY || \"<kite_api_key>\"}}"
            },
            {
              "name": "X-API-SECRET",
              "value": "={{$env.KITE_API_SECRET || \"<kite_api_secret>\"}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "refresh_token"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        0
      ],
      "id": "dba2bf85-56ee-4165-92fd-4e9923eb1e9a",
      "name": "Refresh Token"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "status-ok",
              "leftValue": "={{$json.statusCode}}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        0
      ],
      "id": "c86c8f5f-2d51-4f17-8e09-8d85b72e0a34",
      "name": "Success?"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "token refreshed"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        720,
        -80
      ],
      "id": "0f5e4fb2-5449-4c32-93e2-f9e5fe04a7b2",
      "name": "Set Success"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "token refresh failed"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        720,
        96
      ],
      "id": "c3cdccf3-8195-4455-baf2-01a31d6754d2",
      "name": "Set Failure"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Refresh Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh Token": {
      "main": [
        [
          {
            "node": "Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success?": {
      "main": [
        [
          {
            "node": "Set Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c5af1db6-8eab-4060-b5b8-3c416c4d6541",
  "meta": {
    "instanceId": "c599930d4442d2cacde666b9b0f3201bd20e98b8419385c727a40a09413acdaa"
  },
  "id": "A8W5HDaqnrEDJZ6n",
  "tags": []
}